<!DOCTYPE html>
<html>
  <head>
    <title>Csv3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<%= link_to "Index Companies", companies_path %> | 
<%= link_to "Import Companies", import_new_companies_path %> | 
<%= link_to "Truncate Companies", trunc_reset_path %>
<hr>
<%= link_to "Contacts", contacts_path %> | 
<%= link_to "Jobs", jobs_path %> | 
<%= link_to "Actions", actions_path %>
<hr>
<%= link_to "Tools", root_path %> 

    <%= yield %>
  </body>
</html>
