<!DOCTYPE html>
<html>
  <head>
    <title>Csv3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<%= link_to "Index Teachers", teachers_path %> | 
<%= link_to "Import Teachers", import_path %> | 
<%= link_to "Truncate Teachers", truncate_path %>

    <%= yield %>
  </body>
</html>
